@model Flight.Models.VECHUYENBAY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VECHUYENBAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHUYENBAY.MaChiTietChuyenBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUYENBAY.MaChiTietChuyenBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONGIA.MaDonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA.MaDonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HANGVE.TenHangVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HANGVE.TenHangVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangVe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
