@model Flight.Models.TUYENBAY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TUYENBAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSanBayDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSanBayDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSanBayDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSanBayDen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTuyenBay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
