@model Flight.Models.CHUYENBAY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CHUYENBAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHITIETCHUYENBAY.MaChuyenBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETCHUYENBAY.MaChuyenBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAYBAY.LoaiMayBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAYBAY.LoaiMayBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TUYENBAY.MaSanBayDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TUYENBAY.MaSanBayDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongGheHang1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongGheHang1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongGheHang2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongGheHang2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaChiTietChuyenBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChiTietChuyenBay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
