@model Flight.Models.DONGIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DONGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDonGia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
